<div class="main-container">
    <div class="form-heading">
        <h1>Vehicle Registration</h1>
    </div>
    <div class="main-wrappxper" fxLayout="row" fxLayoutAlign="start">
        <form  [formGroup]="registerForm" class="example-form">

            <div class="example-container" fxLayoutGap="32px">
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Brand</mat-label>
                    <mat-select formControlName="brandId" [(ngModel)]="brandId">
                        <mat-option  *ngFor="let brand of brands" [value]="brand.id" >
                             {{ brand.name }}
                         </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" [style.width.px]=327  >
                    <mat-label>Model</mat-label>
                    <mat-select formControlName="modelId" [(ngModel)]="modelId">
                        <mat-option  *ngFor="let model of models" [value]="model.id">
                             {{ model.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="example-container" fxLayoutGap="32px">
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Enter VIN Number</mat-label>
                    <input matInput placeholder="VIN Number" formControlName="vINNum" [(ngModel)]="vehicle.vINNum">
                </mat-form-field>
            </div>
        
            <div class="example-container" fxLayoutGap="32px">
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Enter Licence Plate Number</mat-label>
                    <input matInput placeholder="Licence Plate Number" formControlName="licencePlate" [(ngModel)]="vehicle.licencePlate">
                </mat-form-field>
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Enter Average Usage</mat-label>
                    <input matInput placeholder="Average Usage" formControlName="averageUsage"[(ngModel)]="vehicle.averageUsage">
                </mat-form-field>
            </div> 
          
            <div class="example-container" fxLayoutGap="32px">
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Kilometers</mat-label>
                    <input matInput placeholder="Kilometers" formControlName="kilometers"[(ngModel)]="vehicle.kilometers">
                </mat-form-field>
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Seating Capacity</mat-label>
                    <mat-select formControlName="seatingCapacity" [(ngModel)]="vehicle.seatingCapacity">
                        <mat-option value=2>2</mat-option>
                        <mat-option value=4>4</mat-option>
                        <mat-option value=6>6</mat-option>
                        <mat-option value=8>8</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        
            <div class="example-container" fxLayoutGap="32px">
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Engine</mat-label>
                    <textarea matInput formControlName="engine"[(ngModel)]="vehicle.engine"></textarea>
                </mat-form-field>
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Body Type</mat-label>
                    <input matInput placeholder="Bodytype" formControlName="bodyType" [(ngModel)]="vehicle.bodyType">
                </mat-form-field>
            </div>
        
            <div class="example-container" fxLayoutGap="32px">
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Fuel Type</mat-label>
                    <input matInput placeholder="Fuel Type" formControlName="fuelType"[(ngModel)]="vehicle.fuelType">
                </mat-form-field>
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Number Of Airbags</mat-label>
                    <input matInput placeholder="Number Of Airbags" formControlName="numOfAirbags"[(ngModel)]="vehicle.numOfAirbags">
                </mat-form-field>
            </div>

            <div class="example-container" fxLayoutGap="32px">
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Number Of Doors</mat-label>
                    <input matInput placeholder="Number Of Doors" formControlName="numOfDoors"[(ngModel)]="vehicle.numOfDoors">
                </mat-form-field>
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Vehicle Configuration</mat-label>
                    <textarea matInput formControlName="vehicleConfiguration"[(ngModel)]="vehicle.vehicleConfiguration"></textarea>
                </mat-form-field>
            </div>

            <div class="example-container" fxLayoutGap="32px">
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Wheelbase</mat-label>
                    <input matInput placeholder="Wheelbase" formControlName="wheelbase"[(ngModel)]="vehicle.wheelbase">
                </mat-form-field>
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Color</mat-label>
                    <input matInput placeholder="Color" formControlName="color"[(ngModel)]="vehicle.color">
                </mat-form-field>
            </div>
        
            <div class="example-container" fxLayoutGap="32px">
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Fuel Capacity</mat-label>
                    <input matInput placeholder="Fuel Capacity" formControlName="fuelCapacity"[(ngModel)]="vehicle.fuelCapacity">
                </mat-form-field>
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Cargo Volume</mat-label>
                    <input matInput placeholder="Cargo Volume" formControlName="cargoVolume"[(ngModel)]="vehicle.cargoVolume">
                </mat-form-field>
            </div>

            <div class="example-container" fxLayoutGap="32px">
                <mat-form-field appearance="fill" [style.width.px]=327>
                    <mat-label>Sales Price</mat-label>
                    <input matInput type="number" class="example-right-align" formControlName="salesPrice"[(ngModel)]="vehicle.salesPrice">
                    <span matPrefix>$&nbsp;</span>
                    <span matSuffix>.00</span>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <button  mat-button color="primary" class="btn-block" (click)="onSubmit()">Add Brand</button>
                <button mat-button color="accent" class="btn-block" (click)="onUpdate()">Update</button>
            </div>       
        </form>
    </div>
</div>

    

    
    
  
        
        
        